<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cart</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}">
</head>

<body>

    <!-- NAVBAR -->
    <header class="navbar">
        <h1>Myshop.Dz</h1>

        <nav>
            <a href="{{ url_for('dash') }}">SHOP</a>
            <a href="{{ url_for('checkout') }}">CHECKOUT</a>
        </nav>
    </header>

    <!-- TITLE -->
    <h2 class="title">🛒 Your Cart</h2>

    <!-- CART CONTENT -->
    <div class="cart-container">

        {% for item in products %}
        <div class="cart-card">

            {% if item.product.image %}
            <img class="product-img" src="{{ url_for('static', filename='image/' + item.product.image) }}"> {% endif %}

            <div class="info">
                <h3>{{ item.product.name }}</h3>
                <p class="price">Price: ${{ item.product.price }}</p>
                <div class="qty-box">

                    <a class="qty-btn" href="{{ url_for('update_cart', product_id=item.product.id, action='decrease') }}">-</a>

                    <span class="qty">{{ item.quantity }}</span>

                    <a class="qty-btn" href="{{ url_for('update_cart', product_id=item.product.id, action='increase') }}">+</a>

                </div>
                <p class="subtotal">Subtotal: ${{ item.subtotal }}</p>
            </div>

            <div class="actions">
                <a class="remove-btn" href="{{ url_for('remove_from_cart', product_id=item.product.id) }}">
                    ✖ Remove
                </a>
            </div>

        </div>
        {% else %}
        <p class="empty">Your cart is empty 😢</p>
        {% endfor %}

    </div>

    <!-- TOTAL -->
    <div class="summary">
        <h3>Total: <span>${{ total }}</span></h3>

        <a class="checkout-btn" href="{{ url_for('checkout') }}">
            💳 Checkout
        </a>

        <a class="continue-btn" href="{{ url_for('dash') }}">
            ⬅ Continue Shopping
        </a>
    </div>

</body>

</html>